services:
  ap-db:
    image: postgres:16
    env_file:
      - ./db/.env
    volumes:
      - ./data/analytics-platform/db:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  pulsar:
    build: ./pulsar
    volumes:
      - ./data/analytics-platform/pulsar:/pulsar/data
    mem_limit: 6gb
    healthcheck:
      test: [ "CMD-SHELL", "pulsar-admin brokers healthcheck" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  redis:
    image: redis:latest
    mem_limit: 2gb
    volumes:
      - ./data/analytics-platform/redis:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    mem_limit: 16gb
    env_file:
      - ./clickhouse/.env
    volumes:
      - ./data/analytics-platform/clickhouse:/var/lib/clickhouse
      - ./data/analytics-platform/clickhouse-log:/var/log/clickhouse-server
      - ./clickhouse/config/performance.xml:/etc/clickhouse-server/config.d/performance.xml:ro
    healthcheck:
      test: [ "CMD", "clickhouse", "client", "--host", "localhost", "--query", "SELECT 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  superset:
    build: ./superset
    environment:
      - SUPERSET_CONFIG_PATH=/config/superset_config.py
    volumes:
      - ./superset/config:/config
    mem_limit: 4gb
    depends_on:
      ap-db:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
    ports:
      - "9088:8088"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8088/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  gateway:
    build: ./bao-api-gateway
    mem_limit: 2gb
    ports:
      - "9085:8085"
    volumes:
      - ./bao-api-gateway/config:/opt/bao-api-gateway
    depends_on:
      - identity
      - data-pipeline
    restart: unless-stopped
  identity:
    build: ./bao-identity
    mem_limit: 2gb
    ports:
      - "9086:8086"
    volumes:
      - ./bao-identity/config:/opt/bao-identity
    depends_on:
      ap-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      pulsar:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8086/status" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  data-pipeline:
    build: ./bao-data-pipeline
    mem_limit: 6gb
    volumes:
      - ./bao-data-pipeline/config/bao-data-pipeline.conf:/opt/bao-data-pipeline/bao-data-pipeline.conf
      - ./bao-data-pipeline/config/bao-data-pipeline-key.json:/opt/bao-data-pipeline/bao-data-pipeline-key.json
      - ./data/analytics-platform/bao-data-pipeline-cache:/opt/bao-data-pipeline/data-pipeline
      - ./data/analytics-platform/bao-data-pipeline:/data
    depends_on:
      ap-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      pulsar:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8084/status" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  dhis2-gateway:
    build: ./dhis2-superset-gateway
    mem_limit: 2gb
    ports:
      - "9089:8092"
    volumes:
      - ./dhis2-superset-gateway/config/dhis2-superset-gateway.conf:/opt/dhis2-superset-gateway/dhis2-superset-gateway.conf
    depends_on:
      superset:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/status" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  proxy:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/config:/etc/nginx/conf.d:ro
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      gateway:
        condition: service_started
      superset:
        condition: service_started
    restart: unless-stopped

